# PostgreSQL
POSTGRES_USER=transcendance
POSTGRES_PASSWORD=transcendance
POSTGRES_DB=transcendance
POSTGRES_HOST=postgresql
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://redis:6379

# JWT
JWT_SECRET=our_very_secret_key_here
JWT_EXPIRES_IN=3600s

# Backend
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public

# Frontend
VITE_API_URL=http://localhost:3001
