# JWT
JWT_SECRET=our_very_secret_key_here
JWT_EXPIRES_IN=3600s

# Backend
DATABASE_URL=postgresql://myuser:mypassword@postgres:5432/mydatabase
PORT=3000
FRONTEND_ORIGIN=https://localhost:8443

# Frontend
VITE_API_URL=https://localhost:8443
# Database
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydatabase

# Github Login
VITE_GITHUB_CLIENT_ID=Ov23liaOKbzvynuXuCu1
VITE_GITHUB_CALLBACK=https://localhost:8443/auth/callback
GITHUB_SECRET=
