# JWT
JWT_SECRET=our_very_secret_key_here
JWT_EXPIRES_IN=3600s

# Backend
DATABASE_URL=postgresql://myuser:mypassword@postgres:5432/mydatabase
PORT=3000
FRONTEND_ORIGIN=http://localhost:5173,http://127.0.0.1:5173,http://0.0.0.0:5173

# Frontend
VITE_API_URL=http://localhost:3000

# Database
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydatabase